__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.coverage
htmlcov/
.env
.env.*
*.pem
uploads/
temp/
images/
.DS_Store
.idea/
.vscode/
.git/
.gitignore
*.ipynb_checkpoints/
*.egg-info/
dist/
build/
*.egg
*.bak
*.swp
*.swo
*.tmp
node_modules/
*.pt
venv/
