.venv
.vscode
.idea
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.db
*.pt
*.pem
uploads/
images/
temp/
__pycache__/
*.pyc
tests/__pycache__/
.coverage
coverage.xml


